* {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3), 0px -4px 10px rgba(0, 0, 0, 0.3);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  font-size: 2rem;
  text-align: left;
}

section {
  padding: 4rem 2rem;
}

ul {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  border-radius: 1rem;
  -webkit-transition: 0.5s background-color, 0.5s color;
  transition: 0.5s background-color, 0.5s color;
}

h1 {
  margin: 2rem 0;
  font-size: 6rem;
  color: white;
}

h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

button {
  padding: 1rem 6rem;
  margin: 1.5rem auto;
  font-size: 1.6rem;
  border: none;
  border-radius: 1rem;
  background-color: black;
  color: white;
  -webkit-transition: 0.5s background-color, 0.5s color;
  transition: 0.5s background-color, 0.5s color;
  cursor: pointer;
}

button:hover,
a:hover {
  background-color: black;
  color: #f2d241;
  cursor: pointer;
}

button:focus-visible,
a:focus-visible {
  outline: none;
  color: #f2d241;
  background-color: black;
}

input:focus-visible,
textarea:focus-visible {
  outline: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5rem;
  width: 100%;
  max-width: 120rem;
}

.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 34rem;
          flex: 1 1 34rem;
  margin: 0;
}

.fa-chevron-up {
  position: fixed;
  bottom: 1%;
  right: 3%;
  padding: 1rem;
  font-size: 4rem;
  color: white;
  background-color: transparent;
}

.fa-chevron-up:hover {
  background-color: transparent;
  color: #f2d241;
}

nav {
  background-image: url(../../dist/img/header_min.jpg);
}

nav .burgerBtn {
  position: absolute;
  top: 1%;
  right: 5%;
  font-size: 3rem;
  padding: 1.5rem;
  color: black;
}

nav .nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav .logo {
  margin: 0;
  padding: 1rem;
}

nav .nav .logo img {
  max-width: 70%;
}

nav .mobileNav {
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
  z-index: 10;
}

nav .mobileNav i,
nav .mobileNav a {
  font-size: 3rem;
  color: #f2d241;
}

nav .desktopNav {
  display: none;
}

.header {
  min-height: 100%;
  background-position: 75% 0;
  background-image: url(../../dist/img/banner1_min.jpg);
  background-size: cover;
}

.header .wrapper {
  height: 100%;
}

.header .wrapper .slider {
  padding: 1rem 2rem;
}

.header .wrapper .slider__box span {
  font-size: 4rem;
  font-weight: 900;
  color: black;
}

.about {
  color: black;
  background-image: url(../../dist/img/bg_about_min.png);
  margin: 4rem auto;
}

.about h2 {
  font-size: 3.2rem;
  font-weight: bold;
}

.about__img img {
  max-width: 100%;
  border: #f6dc67ab solid 3.5rem;
  border-radius: 50%;
}

.about__text {
  margin: 5rem 0;
}

.about__text p {
  margin: 3rem 0;
}

.products {
  background-color: black;
}

.products h2 {
  font-weight: bolder;
}

.products p {
  padding: 2rem 0;
}

.products .slider {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  cursor: pointer;
}

.products .slider__img {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact {
  gap: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f3cf2d;
  text-shadow: none;
}

.contact h2 {
  margin: 3rem 0 0 0;
}

.contact__form {
  color: black;
  width: 100%;
}

.contact__form textarea {
  resize: none;
}

.contact__form textarea,
.contact__form input {
  width: 80%;
  padding: 2rem 1rem;
  margin: 2rem 10%;
  border: none;
}

.contact__form textarea::-webkit-input-placeholder,
.contact__form input::-webkit-input-placeholder {
  color: black;
  text-shadow: none;
}

.contact__form textarea:-ms-input-placeholder,
.contact__form input:-ms-input-placeholder {
  color: black;
  text-shadow: none;
}

.contact__form textarea::-ms-input-placeholder,
.contact__form input::-ms-input-placeholder {
  color: black;
  text-shadow: none;
}

.contact__form textarea::placeholder,
.contact__form input::placeholder {
  color: black;
  text-shadow: none;
}

.map iframe {
  width: 100%;
  height: 35rem;
}

footer {
  padding: 2rem 0;
  background-color: #212120;
  gap: 2rem;
}

footer .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

footer .footer__contact p {
  padding: 2rem 1rem;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

footer .footer__contact p i {
  padding: 0 1rem 0 0;
}

footer .footer__socjal {
  font-size: 4rem;
}

footer .footer__socjal i {
  margin: 0 1rem;
  padding: 1rem;
}

footer .footer hr {
  width: 95%;
}

footer .footer span {
  font-size: 1.7rem;
  text-align: center;
  padding: 0 2rem;
}

@media (min-width: 1023px) {
  h1 {
    font-size: 8rem;
  }
  nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  nav .burgerBtn {
    display: none;
  }
  nav .desktopNav {
    display: block;
    margin: 0;
  }
  nav .desktopNav a {
    padding: 2rem;
  }
  .header {
    margin-top: 7rem;
  }
  .header .wrapper .slider__box span {
    font-size: 6rem;
  }
  .header .wrapper .slider__box p {
    padding: 0 40% 0 0;
    font-size: 3rem;
  }
}

.hidden {
  overflow: hidden;
}

.hidden .mobileNav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.activeLink {
  background-color: black;
  color: #f2d241;
}

.moove {
  scroll-margin-left: 40rem;
}
/*# sourceMappingURL=main.css.map */